.paquetes{
    display: grid;
    place-items: center;
    height: 750px;
    background: #222;
}

.grid-container{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 50%;
}

.item{
    color: #FFF;
    padding: 20px 40px 40px;
    text-align: center;
}

.item:nth-child(1){
    background: linear-gradient(45deg, #036EB7, #64EAFF);   
}

.item:nth-child(2){
    background: linear-gradient(45deg, #8E1EE9, #ED55FF);
}

.item:nth-child(3){
    background: linear-gradient(45deg, #FF0000, #FF5C85);
}

.item:nth-child(4){
    background: linear-gradient(45deg, #FA9600, #f4c030);
}

.item h2{
    font-size: 100px;
    opacity: 0.4;
}

.item h3{
    font-size: 24px;
    text-transform: uppercase;
}


