*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background-color: #161b22; */
  /* background-color: #192229; */
  /* background-color: #162936; */
  /* background-color: #0D1117; */
  /* background-color: #0A0A0A; */
  background-color: #EEF3F5;
  /* background-image: url(pizza1.jpg); */


  
}
.contenedor {
  width: auto;
  height: auto;
}
h1{
  color: #FFF;
}
.body{
  margin-top: 20px;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  justify-content: auto;
  /* background: #162936; */
  /* background: #FFF; */
  /* background-color: #192229; */
  /* background: rgba(0,0,0,0.10); */
  /* background-color: #161b22; */
  /* border: 1px solid rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.8);
   */
   /* background-color: #EEF3F5; */
   /* background: linear-gradient(45deg, #8E1EE9, #ED55FF); */
   
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #e9e9e9;
}

.grid-container{
  width: 70%;
  padding: 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  
   /* box-shadow: 0px 2px 2px rgba(0,0,0,0.2); */
   box-shadow: 0px 5px 5px rgba(134, 128, 128, 0.753);
  
}

.bar{
  /* background-color: #162936; */
  /* background-color: #EEF3F5; */

  padding: 10px;
  /* box-shadow: 0px 2px 2px rgba(255,255,255,0.8); */
}

.item{
  align-items: center;
  transition: all .3s;
  /* border: 1px solid #e9e9e9; */
  /* background-color: #f9f9f9; */
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #FA9600, #f4c030);

  /* border: 1px #e1e1e1; */
}

/* .grid-container:hover .item{
  opacity: 0.8;
} */

.item img:hover{
  /* opacity: 1 !important;  */
  /* background-color: #fff; */
  /* background: rgba(0, 0 , 0,0.25); */
  filter: grayscale(0%);
  transform: scale(1.2);
  cursor: pointer;

  


}
.item img{
  width: 80%;
  height: 80%;
  object-fit: cover;
  /* background-color: rgba(0,0,0,0.10); */
  /* filter:grayscale(25%); */
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
}

/* .r-span2{
  grid-row: span 2;
}

.c-span2{
  grid-column: span 2;
} */

.nav {
  /* border: 1px solid #000; */
  /* width: 80%; */
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 0px; */
}

/* .nav div {
  justify-content: space-around;
} */

.nav div {
  margin-top: -20px;

}

.nav div img {
  width: 40%;
}


